    <div style="height: 80vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <img src="images/Black Gradient Abstract Bold Geometric Design Logo (500 × 300 px).png" alt="" style="height: 300px;">  
      <div style="display: flex; justify-content: space-between; align-items: center; width: 45%;">
        <a href="signup" style="text-decoration: none; display: flex; align-items: center; border:1px solid rgb(21, 212, 21); width: 40%; justify-content: center; border-radius: 10px;"><h4 style="color: rgb(21, 212, 21)">Register</h4></a> 
        <p style="color: rgb(21, 212, 21); font-size: 20px;"> OR </p>
        <a href="login" style="text-decoration: none; display: flex; align-items: center; border:1px solid rgb(21, 212, 21); width: 40%; justify-content: center; border-radius: 10px;"><h4 style="color: rgb(21, 212, 21)">Log in</h4></a>  
      </div>
    </div>