    <p id="id_holder" style="color:black">{{id}}</p>
    <form id="update-form">
        <h2 style="margin-top: 5px; color:rgb(21, 212, 21); margin-left: 10px">Post Title</h2>
        
    <div style="margin-top: 3%; display: flex; justify-content: center;">
        <textarea id="update-title" cols="150" rows="1" style="border-radius: 30px; padding: 30px; background-color:#686b70; color: rgb(21, 212, 21);">{{title}}</textarea>
    </div>
    <h2 style="margin-top: 5px; color:rgb(21, 212, 21); margin-left: 10px">Post Text</h2>
    <div style="margin-top: 3%; display: flex; justify-content: center;">
        <textarea id="update-text" cols="150" rows="20" style="border-radius: 30px; padding: 30px; background-color:#686b70; color: rgb(21, 212, 21);">{{text}}</textarea>
    </div>
    
    <div style="display: flex; justify-content: space-around; margin-top: 10px;">
        <button id="updateBtn" type="submit" class="btn btn-success" style="width: 20%; display: block;">Update</button>
        <button id="deletebtn" type="button" class="btn btn-danger" style="width: 20%; display: block;">Delete</button>
    </div>
    </form>
    <script src="/js/update.js"></script>
