    <div style="margin-top: 3%; display: flex; justify-content: center;">
        <textarea name="" id="newpost" cols="150" rows="20" style="border-radius: 30px; padding: 30px; background-color:#686b70; color: rgb(21, 212, 21);"></textarea>
    </div>
    
    <div style="display: flex; justify-content: center; margin-top: 10px;">
        <button type="button" class="btn btn-success" style="width: 20%; display: block;">Publish</button>
    </div>