    <form id="newpost-form">
        <h2 style="margin-top: 5px; color:rgb(21, 212, 21); margin-left: 10px">Post Title</h2>
    <div style="margin-top: 3%; display: flex; justify-content: center;">
        <textarea id="newpost-title" cols="150" rows="1" style="border-radius: 30px; padding: 30px; background-color:#686b70; color: rgb(21, 212, 21);"></textarea>
    </div>
    <h2 style="margin-top: 5px; color:rgb(21, 212, 21); margin-left: 10px">Post Text</h2>
    <div style="margin-top: 3%; display: flex; justify-content: center;">
        <textarea id="newpost-text" cols="150" rows="20" style="border-radius: 30px; padding: 30px; background-color:#686b70; color: rgb(21, 212, 21);"></textarea>
    </div>
    
    <div style="display: flex; justify-content: center; margin-top: 10px;">
        <button formaction="submit" type="submit" class="btn btn-success" style="width: 20%; display: block;">Publish</button>
    </div>
    </form>
    <script src="/js/blogpost.js"></script>
